---
const { title } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href="/favicon.png" />
<meta name="viewport" content="width=device-width" />
<link
  rel="preconnect"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>
<title>{title}</title>
