---
const { page } = Astro.props;
---

<div class="pagination">
  {
    page.url.prev && (
      <a
        class="bg-paradiso-600 hover:bg-paradiso-700 rounded-xl p-2 text-white hover:no-underline"
        href={page.url.prev}
        title="Go to Previous"
      >
        &larr; Prev
      </a>
    )
  }
  {
    page.url.next && (
      <a
        class="bg-paradiso-600 hover:bg-paradiso-700 rounded-xl p-2 text-white hover:no-underline"
        href={page.url.next}
        title="Go to Next"
      >
        Next &rarr;
      </a>
    )
  }
</div>

<style>
  .pagination a {
    display: inline-block;
    padding: 10px;
  }
</style>
